name: TYPO3 CMS Updater

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update-dependencies:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Composer Update
        uses: TheMonkeyz/composer-updater-action@v1
        with:
          main-package-name: 'typo3/cms-core'
