name: TYPO3 CMS Updater

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update-dependencies:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: Update composer
        run: composer update --prefer-dist --no-interaction

      - name: Get TYPO3 core version
        id: get_version
        run: echo "TYPO3_VERSION=$(jq -r '.packages[] | select(.name=="typo3/cms-core") | .version' composer.lock)" >> $GITHUB_ENV

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          commit-message: 'chore(deps): update TYPO3 core to ${{ env.TYPO3_VERSION }}'
          title: 'Update TYPO3 core to ${{ env.TYPO3_VERSION }}'
          body: 'This PR updates TYPO3 core and other composer dependencies.'
          branch: 'chore/update-typo3-core-${{ env.TYPO3_VERSION }}'
