name: TYPO3 CMS Updater

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update-dependencies:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: Update composer
        run: composer update --prefer-dist --no-interaction

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          commit-message: 'chore(deps): update composer dependencies'
          title: 'Update composer dependencies'
          body: 'This PR updates the composer dependencies.'
          branch: 'chore/update-composer-dependencies'
